<div data-test-editor-post-status ...attributes>
    {{#if this.isSaving}}
        正在保存...
    {{else if (or @post.isPublished @post.pastScheduledTime)}}
        已发布
        {{#if (or (eq @post.email.status "submitting") (eq @post.email.status "submitting"))}}
            and sending to {{gh-pluralize @post.email.emailCount "member"}}
        {{else if (eq @post.email.status "submitted")}}
            and sent to {{gh-pluralize @post.email.emailCount "member"}}
        {{/if}}
        {{#if (feature "savedIndicator")}}
            {{if (not @hasDirtyAttributes) "- Saved"}}
        {{/if}}
    {{else if @post.isScheduled}}
        <time datetime="{{@post.publishedAtUTC}}" class="ml1 green f8" data-test-schedule-countdown>
            Will be published
            {{#if @post.emailRecipientFilter}}
                and sent to <GhRecipientFilterCount @filter={{@post.emailRecipientFilter}} />
            {{/if}}
            {{this.scheduledTime}}
        </time>
        {{#if (feature "savedIndicator")}}
            {{if (not @hasDirtyAttributes) "- Saved"}}
        {{/if}}
    {{else if @post.isNew}}
        新文章
    {{else}}
        草稿
        {{#if (feature "savedIndicator")}}
            {{if (not @hasDirtyAttributes) "- Saved"}}
        {{/if}}
    {{/if}}
</div>