<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            设置
        </h2>
    </GhCanvasHeader>

    <section class="view-container">
        <div class="gh-setting-header gh-first-header">站点</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.general" data-test-nav="general">
                <span class="yellow">{{svg-jar "settings"}}</span>
                <div>
                    <h4>一般设置</h4>
                    <p>基础发布详情和站点基础数据</p>
                </div>
            </LinkTo>
            <button type="button" class="gh-setting-group" {{action (toggle "showBrandingModal" this)}} data-test-nav="branding">
                <span class="blue">{{svg-jar "paint-palette"}}</span>
                <div>
                    <h4>品牌设置</h4>
                    <p>上传站点图标和设置强调突出颜色</p>
                </div>
            </button>
            <LinkTo class="gh-setting-group" @route="settings.theme" data-test-nav="theme">
                <span class="green">{{svg-jar "view-site"}}</span>
                <div>
                    <h4>主题设置</h4>
                    <p>安装和更新主题</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.navigation" data-test-nav="navigation">
                <span class="pink">{{svg-jar "compass-2"}}</span>
                <div>
                    <h4>导航设置</h4>
                    <p>设置住导航菜单和副导航菜单</p>
                </div>
            </LinkTo>
        </div>

        <div class="gh-setting-header">会员设置</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.membership" data-test-nav="members-membership">
                <span class="blue">{{svg-jar "members"}}</span>
                <div>
                    <h4>会员身份</h4>
                    <p>访问, 订阅, 价格配置</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.members-email" data-test-nav="members-email">
                <span class="yellow">{{svg-jar "email-stroke"}}</span>
                <div>
                    <h4>邮件时事通信</h4>
                    <p>自定义邮件和设置邮箱地址</p>
                </div>
            </LinkTo>
        </div>

        <div class="gh-setting-header">高级设置</div>
        <div class="gh-settings-main-grid">
            <LinkTo class="gh-setting-group" @route="settings.code-injection" data-test-nav="code-injection">
                <span class="green">{{svg-jar "brackets"}}</span>
                <div>
                    <h4>代码注入</h4>
                    <p>添加代码注入到发布的页面</p>
                </div>
            </LinkTo>
            <LinkTo class="gh-setting-group" @route="settings.labs" data-test-nav="labs">
                <span class="pink">{{svg-jar "labs"}}</span>
                <div>
                    <h4>实验室</h4>
                    <p>新功能的测试园地</p>
                </div>
            </LinkTo>
        </div>
    </section>
</section>

{{#if this.showBrandingModal}}
    <GhFullscreenModal @modal="branding"
        @close={{action "closeBrandingModal"}}
        @modifier="full-overlay branding-modal" />
{{/if}}
{{#if this.showLeaveSettingsModal}}
    <GhFullscreenModal @modal="leave-settings"
        @confirm={{action "leavePortalSettings"}}
        @close={{action "closeLeaveSettingsModal"}}
        @modifier="action wide" />
{{/if}}